
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #191970;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h3{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #4169e1;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
  color: #4169e1;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}


.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.logo {
    width: auto;
    max-height: 100px;
    max-width: 180px;
}
.shrink .logo{
    transition: 1s ease;
}

.shrink .logo:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}
h1 {
    text-align: center;
    line-height: 75px;
    font-size: 40px;
}

h2 {
    padding-left: 300px;
    line-height: 100px;
    font-size: 35px;
}

h4 {
    display: inline;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.arabia{
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
}

.ww1 {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
}

.baseball{
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
}

.nelson{
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
}

.museum{
    display: flex;
    align-items:center;
}
.resteraunt{
    display: flex;
    align-items:center;
}

.bbq {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
    width: 2000px;
}

.mexican {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
    width: 1800px;
}

.indian {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
    width: 2000px;
}

.asian {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
}


.adpark{
    display: flex;
    align-items:center;
}

.zoo {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
    width: 2900px;
}

.wof {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
    width: 1000px;
}

.zip {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
    width: 1000px;
}

.lego {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
	width: 1000px;
}

p {
    padding-top: 5px;
    padding-left: 300px;
    line-height: 25px;
    font-size: 15px;
}

.semir {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
    width: 1000px;
}

.harun {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
    width: 1000px;
}

.arya {
    padding-left: 325px;
    vertical-align: middle;
    float: left; 
    margin: 5px;
    width: 1000px;
}
.people{
    display: flex;
    align-items:center;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.sport img{
    background-image: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1));
}

.people img {
    background-image: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1));
}

.resteraunt img {
    background-image: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1));
}

.museum img {
    background-image: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1));
}
.adpark img {
    background-image: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1));
}