<head>
<link rel="stylesheet" href="css2.css">
<title>Semir's Portfolio</title>
<script src="https://kit.fontawesome.com/846e483cdc.js" crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
   <link rel="stylesheet" href="assets/css/css2.css">
<meta charset = "utf-8">
<meta name = "viewport" content = "width = device-width, initial-scale=1">
<style>
table, th, td {
  border:1px solid black;
}
</style>
</head>

<body>
<body style="background-color:#f3f5f9;">
<div class="wrapper">
            <div class="sidebar">
                <div class = "shrink">
                </div>
                <ul>
                    <li><a href="prod1.html"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="intro.html"><i class="fas fa-people-group"></i>Introduction</a></li>

                </ul> 
    </div>
	</div>
<h1>Meet me!</h1>
			<h2>Semir Hot</h2>
			<div class = "people">
				<img class = "semir" src = "SH.jpg" alt = "semir">
				<h4>Hello! My name is Semir Hot, I am currently an undergraduate student at UMKC pursuing a Bachelors in Information Technology. This is currently my last semester as an undergrad student and in the fall I will be starting my Masters In Data science. I am originally from Bosnia and have a little bit of experience in all aspects of technology. Ever since I was a kid I was on the computer looking up how to do things my parents didn't know how to do on Youtube as I'm sure most of us can attest to. I Plan on completing my Master's and then looking overseas to Germany for a career just to be closer to the place I call my home.</h4>
			</div>
			<center><h1>View my Resume Below!</h1></center>
			<center><img src = "resume.jpg"></center>
			<center><h1>A bit about my favorite classes I have taken</h1></center>
			<center><table>
  	  <tr>
	      <th>Class</th>
	      <th>Description</th>
	      <th>Grade Earned</th>
	  </tr>
	  <tr>
	      <td>CS 449</td>
	      <td>Designed a GUI for an interactive game, Learned about Agile and working as a softwear engineer</td>
	      <td>A</td>
	  </tr>
	  <tr>
	      <td>CS 320</td>
	      <td>Learned about all algorithms and how they work in code, learning how to make the complexity of code the lowest</td>
	      <td>A</td>
	  </tr>
	  <tr>
	      <td>IT 222</td>
	      <td>Learned an intro into web development and have a strong interest in this field now!</td>
	      <td>A</td>
	  </tr>
	</table></center>
	</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</html>