<head>
<link rel="stylesheet" href="finalcss.css">
<title>Semir's Portfolio</title>
<script src="https://kit.fontawesome.com/846e483cdc.js" crossorigin="anonymous"></script>
<meta charset = "utf-8">
<meta name = "viewport" content = "width = device-width, initial-scale=1">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
   <link rel="stylesheet" href="assets/css/finalcss.css">
<style>
body {
  background-image: url('kcsky.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%
}

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="wrapper">
            <div class="sidebar">              
                <ul>
                    <li><a href="final.html"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="intro.html"><i class="fas fa-people-group"></i>Introduction</a></li>
                </ul> 
    </div>
	</div>
<center><h1>Welcome to Semir's Portfolio</center>
</body>